<template>
  <div>
    <div class="navbar-right">
      <div class="nav navbar-nav github-login">
        <router-link to="/auth/login" class="btn btn-outline-success mr-sm-2 my-2 my-sm-1">
          登 录
        </router-link>
        <router-link to="/auth/register" class="btn btn-outline-success mr-sm-2 my-2 my-sm-1">
           注 册
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheEntry'
}
</script>

<style scoped>

</style>
