<template>
  <footer id="footer" class="footer">
    <div class="alert alert-dark alert-footer " role="alert">
      <p class="mb-0 text-center">
        &copy; Company 2017-<a href="">贺德强</a> 版权所有
        <span style="color: #e27575;font-size: 14px;"></span>
        <a class="alert-link" href="http://www.miitbeian.gov.cn">冀ICP备17012521号-2
        </a>
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>

<style>

  body{
    min-height:100%;
  }

  .container{
    padding-bottom: 30px; /*需要 >= footer的height值*/
  }

  .footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
  }
</style>
