<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <router-link to="/">LaravelCode</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li v-for="(item, index) in navList" :class=" {active: index === activeNavIndex}" v-bind:key="item" >
            <router-link class="nav-link"  @click="changeNavIndex(index)" to="">{{item}} <span class="sr-only">(current)</span></router-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <!-- 登录注册链接开始 -->
        </form>
        <!-- 登录注册链接结束 -->
        <div>
          <the-entry></the-entry>
        </div>
        <div  v-if="isLogin" >
          <li>
            <a href="" class="fa fa-bell" style="margin-left: 0.7rem; margin-right: 1rem; color: #2ab27b;">
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                                <img src="https://avatars0.githubusercontent.com/u/31909061?v=4"
                                     class="img-responsive rounded-circle" width="30px" height="30px">
                            </span>
              hedeqiang <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a class="dropdown-item" href="">个人资料</a>
              </li>
              <li class="dropdown-item">
                <a href=""
                   onclick="event.preventDefault();
                                             document.getElementById('logout-form').submit();">
                  退出登录
                </a>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import TheEntry from '@/components/layouts/TheEntry'
export default {
  name: 'TheHeader',
  components: {
    TheEntry
  },
  data () {
    return {
      isLogin: false,
      navList: ['首页', '转载', '分类', '动弹', '关于我'],
      activeNavIndex: 0
    }
  },
  methods: {
    changeNavIndex (index) {
      this.activeNavIndex = index
    }
  }
}
</script>

<style>
  #navbarSupportedContent li {
    list-style-type: none;
  }
  #navbarSupportedContent li a {
    color: #2ab27b;
    font-size: 1rem;
  }

  a, a:hover {
    color: #2ab27b;
    text-decoration: none;
  }
</style>
