<template>
    <div class="main-container" style="margin-top: 0.5rem">
        <div class="row">
          <the-left></the-left>
          <the-right></the-right>
        </div>
    </div>
</template>

<script>
import TheLeft from '@/components/home/TheLeft'
import TheRight from '@/components/home/TheRight'
export default {
  name: 'Home',
  components: {
    TheLeft, TheRight
  }
}
</script>

<style scoped>

</style>
