<template>
    <div class="col-md-9">
      <div class="">
        <div class="container">
          <div>
            <ul class="list-group row topic-list" >
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                   to="">
                  <div class="count_set">
                      <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li><li class="list-group-item ">
              <router-link class="reply_count_area hidden-xs pull-right"
                           to="">
                <div class="count_set">
                  <span class="count_of_replies" title="回复数">12</span>
                  <span class="count_seperator">/</span>
                  <span class="count_of_visits" title="查看数">14</span>
                  <span class="count_seperator">|</span>
                  <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                </div>
              </router-link>
              <div class="avatar pull-left">
                <router-link to="/" title="">
                  <img class="media-object  avatar avatar-middle" alt=""
                       src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                </router-link>
              </div>
              <div class="infos">
                <div class="media-heading">
                  <router-link to="/">
                    使用Vue-cli初始化项目
                  </router-link>
                </div>
              </div>
            </li>
              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>

              <li class="list-group-item ">
                <router-link class="reply_count_area hidden-xs pull-right"
                             to="">
                  <div class="count_set">
                    <span class="count_of_replies" title="回复数">12</span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="查看数">14</span>
                    <span class="count_seperator">|</span>
                    <abbr title="2018-08-02 10:56:03" class="timeago">2018</abbr>
                  </div>
                </router-link>
                <div class="avatar pull-left">
                  <router-link to="/" title="">
                    <img class="media-object  avatar avatar-middle" alt=""
                         src="https://avatars0.githubusercontent.com/u/31909061?v=4">
                  </router-link>
                </div>
                <div class="infos">
                  <div class="media-heading">
                    <router-link to="/">
                      使用Vue-cli初始化项目
                    </router-link>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pull-right root-page" style="margin-top: 0.5rem">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</template>

<script>
export default {
  name: 'TheLeft'
}
</script>

<style scoped>
  .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .infos{
    display: flex;
    height: 50px;
  }
  .infos .media-heading{
    align-self: center;
    margin-left:5px;
  }
  .list-group-item  .reply_count_area{
    height:22px;
    margin-top:14px;
  }
  @media (max-width: 767px){
    .list-group-item  .reply_count_area{
      display: none;
    }
  }
</style>
