<template>
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3" style="max-width: 25rem; opacity: 0.8;">
        <div class="card-header">网站公告</div>
        <div class="card-body">
          <p class="card-text saying">
            LaravelCode 正式上线啦！
          </p>
        </div>
      </div>
      <div class="list-group" style="max-width: 25rem;">
        <a href="#" class="list-group-item list-group-item-action active">
          热门排行
        </a>
        <a href="" class="list-group-item list-group-item-action">Yii2.0 RESTful API 认证教程</a>
        <a href="" class="list-group-item list-group-item-action">Yii2.0 RESTful API 认证教程</a>
        <a href="" class="list-group-item list-group-item-action">Yii2.0 RESTful API 认证教程</a>
        <a href="" class="list-group-item list-group-item-action">Yii2.0 RESTful API 认证教程</a>
        <a href="" class="list-group-item list-group-item-action">Yii2.0 RESTful API 认证教程</a>
      </div>
    </div>
</template>

<script>
export default {
  name: 'TheRight'
}
</script>

<style scoped>

</style>
