<template>
  <div class="container" style="margin-top: 1.5rem">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">请登录</h3>
          </div>

          <div class="panel-body" data-validator-form>
            <div class="form-group">
              <label class="control-label">用户名</label>
              <input v-model.trim="username"  type="text" class="form-control" placeholder="请填写用户名">
            </div>
            <div class="form-group">
              <label class="control-label">密码</label>
              <input v-model.trim="password" id="password"  type="password" class="form-control" placeholder="请填写密码">
            </div>
            <br>
            <button  type="submit" class="btn btn-lg btn-success btn-block">
              <i class="fa fa-btn fa-sign-in"></i> 登录
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      username: '', // 用户名
      password: '', // 密码
      msg: '', // 消息
      msgType: '', // 消息类型
      msgShow: false // 是否显示消息，默认不显示
    }
  }
}
</script>

<style scoped>

</style>
