<template>
  <div class="container" style="margin-top: 1.5rem">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">请注册</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label">用户名</label>
              <input type="text" class="form-control" placeholder="请填写用户名">
            </div>
            <div class="form-group">
              <label class="control-label">密码</label>
              <input type="password" class="form-control" placeholder="请填写密码">
            </div>
            <div class="form-group">
              <label class="control-label">确认密码</label>
              <input type="password" class="form-control" placeholder="请填写确认密码">
            </div>
            <div class="form-group">
              <label class="control-label">图片验证码</label>
              <input type="text" class="form-control" placeholder="请填写验证码">
            </div>
            <div class="thumbnail" title="点击图片重新获取验证码">
              <div class="captcha"></div>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block">
              <i class="fa fa-btn fa-sign-in"></i> 注册
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Register'
}
</script>

<style scoped>
  .thumbnail { width: 170px; margin-top: 10px; cursor: pointer;}
  .thumbnail .captcha { height: 46px; background: #E1E6E8;}
</style>
